<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>jisahApp</title>
    <link rel="stylesheet" href="{% static 'css/paket.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="{% url 'index' %}">Beranda</a></li>
            <li><a href="{% url 'layanan' %}">Layanan</a></li>
            <li><a href="#">Tentang Kami</a></li>
            <li><a href="{% url 'konsultasi' %}">Konsultasi Sekarang</a></li>
            <li><a href="login.html" class="login-button">Login</a></li>
            <li><a href="#">Kontak</a></li>
        </ul>
        <div class="search-container">
            <span class="search-icon"><i class="fas fa-search"></i></span>
        </div>
    </nav>

    <div class="container">
        <div class="card blue">
          <h3>Live chat</h3>
          <p>Curhat lewat pesan dengan psikolog</p>
          <p>Rp. 150.000/4 sesi dalam 6 minggu</p>
          <button>Beli Paket</button>
        </div>
        <div class="card green">
          <h3>Voice/Video call</h3>
          <p>Bertukar cerita lewat suara/video dengan psikolog</p>
          <p>Rp. 185.000/4 sesi dalam 6 minggu</p>
          <button>Beli Paket</button>
        </div>
        <div class="card yellow">
          <h3>Janji Tatap muka</h3>
          <p>Janji ketemu psikolog terdekat</p>
          <p>Rp. 350.000/2 sesi dalam 4 minggu</p>
          <button>Beli Paket</button>
        </div>
      </div>
</body>
</html>