<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Psikolog</title>
    <link rel="stylesheet" href="{% static 'css/quiz_psikolog.css' %}">
</head>
<body>
    <h1>Quiz Psikolog</h1>
    <div id="quiz-container">
        <!-- Pertanyaan dan jawaban di-generate oleh JavaScript -->
    </div>
    <button id="submit-btn">Submit</button>

    <script src="{% static 'js/quiz_psikolog.js' %}"></script>
</body>
</html>
